/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional custom CSS */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@layer components {
  .wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
